# Chặn các file rác của IDE (cho cả IntelliJ và VS Code)
.idea/
.vscode/
*.iml
*.iws

# Chặn file rác của Backend (Spring Boot)
**/target/
**/build/
.mvn/wrapper/maven-wrapper.jar

# Chặn file rác của Frontend
**/node_modules/
**/dist/
.env.local

# Chặn các file hệ thống
.DS_Store
Thumbs.db